{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'index.css' %}" />
  </head>
  <body>
    <div class="app">
      <div class="bg"></div>

      <form>
        <header>
          <img
            src="https://assets.codepen.io/3931482/internal/avatars/users/default.png?format=auto&height=80&version=1592223909&width=80"
          />
        </header>
      </form>

      <footer>
        <button><a href="/login">Login</a></button>
      </footer>
    </div>
  </body>
</html>
